.equipo {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px ;
    position: relative;
    
}

.color {
    position: absolute;
    top: 20px;
    right: 50px;
    border : none;
    
}

.equipo h3 {
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid #57c278;
    display: inline-block; /*para que la linea solo me ocupe el ancho del titulo escrito*/
    padding-bottom: 8px;
}

.colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

