.orgSection {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;  
}

.title {
    color: #6278F7;
    font-family: "Prata", serif;
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 4px solid #6278F7 ;
   
}

.orgSection img {
    justify-items: end;
    cursor: pointer;
}